body {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	background: #2C2A25 ;
	color : White ;
}

h1	{color: #E3B23C;

}
#banner-shadow-intro{
	box-shadow: 0px 0px 20px #000000;
	padding: 20px;
	margin: 30px;
	background : #2C2A25;
}

#p-line-Height {
	line-height: 1.8;
}

#img-round{
	border-radius: 50%; 
	box-shadow: 0px 0px 20px #000000;
	width: 200px;
}

.banner-shadow-classic {
	box-shadow: 0px 0px 20px #000000;
	padding: 20px;
	margin: 30px;
	background : #2C2A25;
}

.Banner-flex {
	display: flex;
  	align-items: center;
  	justify-content: space-evenly;
  	list-style: None;
}

.img-yellow {
	width: 60px;
}

li {
  list-style: None;
}

ul {
  /*list-style: none;*/
  padding-inline-start: 0px;
}

i {
	font-size: 40px;
	color : #E3B23C;
	margin-bottom: 30px;
}

i:hover {
	color: #EF6461;
	text-decoration: none;
}